*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
    
}
body{
    
    background-color: black;


}
header{
    height: 60px;
    width: 100%;
    
    background-color: black;
    
}
.header-view{
    display: flex;
    flex-shrink: 0;
    color: white;
    right: 30px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    

}
.speakers {
    display: flex;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
}
main{
    height: calc(100vh - 160px);
    border: 2px dashed white;
    overflow-y: auto;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 2px dashed white;
    
    

    
    
}
.cards img{
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: 200px;
    width: 300px;
    
    
    
    
}
footer{
    height: 80px;
    background-color: lightgray;
    margin-top: 20px;


}